.page-container{
    width: 100%;
    max-width: 1200%;
    margin: 0 auto;
    padding: 16px;
    box-sizing: border-box;
}
.product-container{
  
  gap: 24px;
  margin-bottom: 32px;
}
.product-item{
 
  border-radius: 12px;
  padding: 16px;
  margin-top: 20px;
}





.check-section {
  background: #fafafa;
  border: 1px solid #e5e5e5;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}


@media screen and (max-width:768px) {
     .product-item {
    flex: 1 1 48%;    
  }
    
}